body				/*閹碉拷閺堝銆夐棃銏㈡畱濠婃艾濮╅弶鈩冩▔缁�楦款啎缂冿拷*/
{
	overflow-x:scroll;
}
a					/*閹碉拷閺堝绉撮柧鐐复娑撳秷顩︽稉瀣灊缁撅拷*/
{
	text-decoration:none;
}
img					/*閹碉拷閺堝娴橀悧鍥╃級閺�鍙ヤ簰妤傛ü缍呯�规矮缍呴弽鍥у櫙閿涘奔绗夐棁锟界憰浣界珶濡楋拷*/
{
	max-height:100%;
	border:"0";
}
div
{
	font-family:"Times New Roman","鐎瑰缍�";
	font-size:18px;
}
p					/*閹碉拷閺堝顔岄拃钘夌磻婢跺缂夋潻锟�2娑擃亜鐡�*/
{
	text-indent:2em;
	font-family:"Times New Roman","鐎瑰缍�";
	font-size:18px;
	line-height:30px;
}
iframe				/*閹碉拷閺堝鐡欐い鐢告桨閹炬垶寮ч弫缈犻嚋閻╂帒鐡欓敍灞肩瑝闂囷拷鐟曚浇绔熷锟�*/
{
	height:100%;
	width:100%;
	border:0px;
}
input				/*鐠佸墽鐤嗙悰銊ュ礋閺傚洦婀板鍡欐畱鐎硅棄瀹�*/
{
	width:200px;
	height:30px;
	font-size:18px;
	autocomplete:off;
	
}
select
{
	width:200px;
	height:30px;
	font-size:18px;
	autocomplete:off;
}
.radio
{
	width:20px;
}

.titlename		/*div缁紮绱濈拋鍓х枂娑撳銆夐棃銏＄垼妫版娈戦弽宄扮础*/
{
	height:2%;		/*閺嶅洭顣介崡鐘卞瘜缁愭褰涢惃鍕彯鎼达附鐦�*/
	width:100%;		/*閺嶅洭顣介崡鐘卞瘜缁愭褰涢惃鍕啍鎼达附鐦�*/
	font-weight:bold;	/*閺嶅洭顣界�涙ぞ缍嬮崝鐘电煐*/
	font-size:25px;		/*閺嶅洭顣界�涙ぞ缍嬫径褍鐨�*/
	text-align:center;	/*閺嶅洭顣界仦鍛厬*/
    color:#000040;
}
.scrollbox	/*div缁紮绱濆姘З閻╂帒鐡欓惃鍕壉瀵拷*/
{
	height:92%;		/*濠婃艾濮╅惄鎺戠摍閸楃姳瀵岀粣妤�褰涢惃鍕彯鎼达附鐦�*/
	width:100%;		/*濠婃艾濮╅惄鎺戠摍閸楃姳瀵岀粣妤�褰涢惃鍕彯鎼达附鐦�*/
	overflow:auto;	/*閸忎浇顔忓姘З閻╂帒鐡欏姘З*/
	font-size:18px;		/*濠婃艾濮╅惄鎺戠摍鐎涙ぞ缍嬫径褍鐨�*/
}
.subtitle	/*div缁紮绱濈拋鍓х枂鐏忓繑鐖ｆ０妯兼畱閺嶅嘲绱�*/
{
	height:3%;			/*鐏忓繑鐖ｆ０妯哄窗閺勫墽銇氬鍡欐畱妤傛ê瀹冲В锟�*/
	margin:1%;			/*鐏忓繑鐖ｆ０妯兼畱鏉堢绐�*/
	font-weight:bold;	/*鐏忓繑鐖ｆ０妯虹摟娴ｆ挸濮炵划锟�*/
	font-size:22px;		/*鐏忓繑鐖ｆ０妯虹摟娴ｆ挸銇囩亸锟�*/
	text-align:center;	/*鐏忓繑鐖ｆ０妯虹摟娴ｆ挸鐪虫稉锟�*/
}
.subtitle2	/*div缁紮绱濈亸蹇旂垼妫帮拷2閻ㄥ嫭鐗卞蹇ョ礉閸︹暞howpredata.jsp妞ょ敻娼伴惃鍕▔缁�鍝勭秼閸撳秵鏆熼幑顔昏厬閻€劌鍩�*/
{
	height:5%;			/*鐏忓繑鐖ｆ０锟�2閸楃姵妯夌粈鐑橆攱閻ㄥ嫰鐝惔锔界槷*/
	margin:3%;			/*鐏忓繑鐖ｆ０锟�2閻ㄥ嫯绔熺捄锟�*/
	font-weight:bold;	/*鐏忓繑鐖ｆ０锟�2鐎涙ぞ缍嬮崝鐘电煐*/
	font-size:18px;		/*鐏忓繑鐖ｆ０锟�2鐎涙ぞ缍嬫径褍鐨�*/
	text-align:center;	/*鐏忓繑鐖ｆ０锟�2鐎涙ぞ缍嬬仦鍛厬*/
	color:#326ea5;		/*鐏忓繑鐖ｆ０锟�2鐎涙ぞ缍嬫０婊嗗*/
}
.currentdata			/*div缁紮绱濊ぐ鎾冲閺佺増宓佸鍡欐畱閺嶅嘲绱￠敍灞芥躬show.jsp妞ょ敻娼伴惃鍕▔缁�鍝勭秼閸撳秵鏆熼幑顔讳繆閹垯鑵戦悽銊ュ煂*/
{
	width:800px;		/*瑜版挸澧犻弫鐗堝祦濡楀棛娈戠�硅棄瀹�*/
	border:2px #326ea5 solid;	/*瑜版挸澧犻弫鐗堝祦濡楀棛娈戞潏鍦喘鐠佸墽鐤�*/
	padding:20px;		/*瑜版挸澧犻弫鐗堝祦濡楀棛娈戦崘鍛扮珶鐠烘繆顔曠純锟�*/
	font-weight:bold;	/*瑜版挸澧犻弫鐗堝祦濡楀棛娈戠�涙ぞ缍嬮崝鐘电煐*/
	font-size:18px;		/*瑜版挸澧犻弫鐗堝祦濡楀棛娈戠�涙ぞ缍嬫径褍鐨�*/
	margin:0px auto;	/*瑜版挸澧犻弫鐗堝祦濡楀棛娈戦弫缈犻嚋閻╂帒鐡欑仦鍛厬*/
}
.changedata			/*div缁紮绱濋弴鎸庡床閺佺増宓佸鍡欐畱閺嶅嘲绱￠敍灞芥躬showpredata.jsp妞ょ敻娼伴惃鍕禌閹广垺鏆熼幑顔讳繆閹垯鑵戦悽銊ュ煂*/
{
	height:25%;			/*閺囨寧宕查弫鐗堝祦濡楀棗宕伴弰鍓с仛濡楀棛娈戞妯哄濮ｏ拷*/
	width:90%;			/*閺囨寧宕查弫鐗堝祦濡楀棗宕伴弰鍓с仛濡楀棛娈戠�硅棄瀹冲В锟�*/
	border:1px #326ea5 solid;	/*閺囨寧宕查弫鐗堝祦濡楀棛娈戞潏鍦喘鐠佸墽鐤�*/
	font-weight:bold;	/*閺囨寧宕查弫鐗堝祦濡楀棗鐡ф担鎾冲缁拷*/
	font-size:18px;		/*閺囨寧宕查弫鐗堝祦濡楀棗鐡ф担鎾炽亣鐏忥拷*/
	text-align:center;	/*閺囨寧宕查弫鐗堝祦濡楀棛娈戠�涙ぞ缍嬬仦鍛厬*/
}
.setup				/*div缁紮绱濋崣鍌涙殶鐠佸墽鐤嗗鍡欐畱閺嶅嘲绱�*/
{
	width:80%;					/*閸欏倹鏆熺拋鍓х枂濡楀棗宕伴弰鍓с仛濡楀棛娈戠�硅棄瀹冲В锟�*/
	border:2px #326ea5 solid;	/*閸欏倹鏆熺拋鍓х枂濡楀棛娈戞潏鍦喘鐠佸墽鐤�*/
	padding:20px;				/*閸欏倹鏆熺拋鍓х枂濡楀棛娈戦崘鍛扮珶鐠烘繆顔曠純锟�*/
	margin:0px auto;			/*閸欏倹鏆熺拋鍓х枂濡楀棛娈戠�涙ぞ缍嬬仦鍛厬*/
}
.note				/*div缁紮绱濆▔銊╁櫞閻ㄥ嫭鐗卞蹇ョ礉閸︺劍膩閸ㄥ绮ㄩ弸婊勬▔缁�杞扮矙缂佸秵锟窖嗗厴閸欏倹鏆熼弮鍓佹暏閸掞拷*/
{	
	width:100%;
	font-size:15px;		/*濞夈劑鍣撮惃鍕摟娴ｆ挸銇囩亸锟�*/
	text-align:center;	/*濞夈劑鍣撮惃鍕摟娴ｆ挸鐪虫稉锟�*/
	color:#326ea5;		/*濞夈劑鍣撮惃鍕摟娴ｆ捇顤侀懝锟�*/
}
.addsubmodel			/*div缁紮绱濇晶鐐插閸掔娀娅庡Ο鈥崇�烽惄鎺戠摍*/
{
	width:95%;			/*婢х偛濮為崚鐘绘珟濡�崇�烽惄鎺戠摍閸楃姵妯夌粈鐑橆攱閻ㄥ嫬顔旀惔锔界槷*/
	text-align:center;	/*鐎涙ぞ缍嬬仦鍛厬*/
	font-size:18px;		/*鐎涙ぞ缍嬫径褍鐨�*/
	font-weight:bold;	/*鐎涙ぞ缍嬮崝鐘电煐*/
	margin:2%;			/*婢舵牞绔熼悾宀冾啎缂冿拷*/
}